*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mx-cont{
    padding: 15px 90px;  
  }
  .style_header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
  
  img{
    height: 40px;
  }
  
  span{
    margin-right: 10px;
  }
  
  .menu span{
    padding: 4px 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color .3s;
  }
  .menu span.active,
  .menu span:hover {
    border-color: #5243C0;
  }
  
  .ybtn{
    border-radius: 20px;
    background-color: #FFD8DB;
    color: #9757ff;
    width: 150px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: linear-gradient(#FFD8DB,#A389CC);
  }
  .wrapper{  
    max-width: 1000px;
    margin: 10px auto;
  }
  .wrapper .main-head{  font-size: 52px;}
  .wrapper .lead{font-size: 18px;margin-top: 20px;}
  .left{
    float: left;
    width: 50%;
  }
  
  .right{
    float: right;
    width: 50%;
  }
  
  .right img{
    height: 400px;
    width: auto;
  }
  
  .nbtn{
    border-radius: 20px;
    height: auto;
    background-color:#5243C0;
    border: none;
    color: #ffffff;
    height: 50px;
    width: 150px;
  
  }
  .box_design img{
    height: 30px;
    width: 30px; 
  }
  .box_design button{
    height: 10px;
    width:20px;
    border-radius: 5px;
    background-color: pink;
  }
  .nml-10{margin-left: 10px;}
  .nmt-20{margin-top: 20px;}
  .style_mid_left_container img{
    height: 50px;
    width: 50px;
  }
  .style_mid_left_container{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .icontick{
    width: 30px;
    height: 30px;
    background: url("tick-gray.png");
    background-size: inherit inherit;  
  }
  .box_design .nlist:hover .icontick{
    width: 30px;
    height: 30px;
    background: url("tick-blue.png");
    background-size: inherit inherit;
  }
  .box_design > div{  
    width: 350px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color:whitesmoke;  
  }
  .box_design .nlist{cursor: pointer;}
  .box_design .nlist:hover{background-color: #fff;box-shadow: 0px 0px 2px #ccc;}
  .box_design .nlist{display: flex;justify-content: space-between;align-items: center;}
  .box_design .nlist div{display: flex;gap:10px;align-items: center;}
  .cdash{display: inline-block;padding: 3px 7px;border-radius: 5px;}
  .nlist{display: flex;justify-content: space-evenly;align-items: center;}
  .dmm_design .cdash{
    background-color:#FED7DA;
  }
  
  .blurr_animation .cdash{
    background-color: #FD6534;
  }
  
  .illustration .cdash{
    background-color: #9ED095;
  }
  
  .refund .cdash{
    background-color: #FFE4A0;
  }
  
  .box_design > div:hover{
    background-color: white;
  }




